# bun_user_service
/bun_user_service/dist
/bun_user_service/node_modules
/bun_user_service/.env.development
/bun_user_service/.env.test
/bun_user_service/.pnpm-store




# Logs
*logs
*.log
*npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE - VSCode
*.vscode/*
*!.vscode/settings.json
*!.vscode/tasks.json
*!.vscode/launch.json
*!.vscode/extensions.json


ecommerce_user_db